html(lang="en")
  head
    title= upload
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
  body
    input#tab1(type='radio', name='tabs', checked)
    label(for='tab1') HOME PAGE
    input#tab2(type='radio', name='tabs')
    label(for='tab2') Computer Engineering
    input#tab3(type='radio', name='tabs')
    label(for='tab3') Software Engineering
    input#tab4(type='radio', name='tabs')
    label(for='tab4') Places Internships
    part#content1
      div.topic Internships
      div.wrapper
        div#admin
          input.input.show.information(type='text', placeholder='ข่าวสารข้อมูล...')
          input.input.show.link(type='text', placeholder='ลิงค์เว็บไซต์...')
          button.input.show.button เพิ่ม
          br
        div.table
          div.row.header.blue
            div.cell.center ข่าวสารข้อมูล
            div.cell.link.center link
            div.cell.delete#admin id
          div.row
            div.cell 1
            div.cell
              button.btn.link
                a(href='#') click
            div.cell.btn.delete#admin
              button click
        div.listyear ปีการศึกษา
          ul
            li
              a(href='#') 2557
            li
              a(href='#') 2558 
    part#content2
      div.topic Computer Engineering
      div.wrapper
        div#admin
          input.input.show.cpe(type='text', value='CPE', readonly)
          input.input.show.year(type='text', placeholder='2560...')
          input.input.show.choosefile#file-cpe(type='file', name='file', )
          button.input.show.upload upload
        div.table
          div.row.header.blue
            div.cell.center รหัสนิสิต
            div.cell.center ชื่อ-นามสกุล
            div.cell.center สถานประกอบการ
            div.cell.center วันเริ่มงาน
            div.cell.center วันสิ้นสุดงาน
          div.row
            div.cell a1
            div.cell a2
            div.cell a3
            div.cell a4
            div.cell a5
          div.row
            div.cell a1
            div.cell a2
            div.cell a3
            div.cell a4
            div.cell a5
        //- br
        div.listyear ปีการศึกษา
          ul
            li
              a(href='#') 2557
            li
              a(href='#') 2558 
          
    part#content3
      div.topic Software engineering
      div.wrapper
        div#admin
          input.input.show.ske(type='text', value='SKE', readonly)
          input.input.show.year(type='text', placeholder='2560...')
          input.input.show.choosefile#file-cpe(type='file', name='file', )
          button.input.show.upload upload
        div.table
          div.row.header.blue
            div.cell.center รหัสนิสิต
            div.cell.center ชื่อ-นามสกุล
            div.cell.center สถานประกอบการ
            div.cell.center วันเริ่มงาน
            div.cell.center วันสิ้นสุดงาน
          //- div.row
          //-   div.cell a1
          //-   div.cell a2
          //-   div.cell a3
          //-   div.cell a4
          //-   div.cell a5
        //- br
        div.listyear ปีการศึกษา
          ul
            li
              a(href='#') 2557
            li
              a(href='#') 2558
    part#content4
      div.topic Places internships
      div.wrapper
        div#admin
          input.input.show.information(type='text', placeholder='สถานที่ฝึกงาน...')
          input.input.show.link(type='text', placeholder='ลิงค์เว็บไซต์...')
          button.input.show.button เพิ่ม
        div.table
          div.row.header.blue
            div.cell.center ชื่อสถานที่ฝึกงาน
            div.cell.link.center link
            div.cell.delete#admin id
          div.row
            div.cell 1
            div.cell
              button.btn.link
                a(href='#') click
            div.cell.btn.delete#admin
              button click
        div.listyear ปีการศึกษา
          ul
            li
              a(href='#') 2557
            li
              a(href='#') 2558 
                
    div.footer
