html(lang="en")
  head
    title= upload
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    div.container
      table.table.table-bordered
        thead
          tr
            th.row-center Company's name
            th.row-center link
        tbody.row-data
          //- example to add data into the table
          //- tr
          //-   td 1
          //-   td.row-center 
          //-     button.btn.link-location(type='submit')
          //-       a.link-location(href="http://www.google.com") click
    
