html(lang="en")
  head
    title= login
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    div.login
      form(method='POST', action='/api/login')
        input.input(type='text', placeholder='username', name='username')
        br
        input.input(type='password', placeholder='password', name='password')
        br
        button.btn(type='submit') Log in
    
      
